<div class="flex flex-col">
  <div class="flex items-center justify-center w-full bg-gray-200 p-4">
    <input #input type="text" name="tarefa" placeholder="Adicione uma nova tarefa"
      class="p-4 rounded-lg mr-1 container">
    <button class="flex items-center justify-center p-4 bg-blue-500 h-full rounded-lg">
      <div>add</div>
    </button>
  </div>

  <div class="m-8">
    <div class="flex justify-between">
      <div>
        <span>
          Tarefas Criadas
        </span>
        <span class="text-red-900 bg-red-200 p-1 rounded-full">
          16
        </span>
      </div>
      <div>
        <span>
          Tarefas Concluídas
        </span>
        <span class="text-green-900 bg-green-200 p-1 rounded-full">
          8
        </span>
      </div>
    </div>

    <div class="mt-8">
      <div
        class="flex items-center justify-between w-full p-4 bg-gray-300 border border-gray-400 rounded-xl">
        <div class="flex items-center flex-1">
          <input type="checkbox" class="mr-4">
          <p class="text-wrap text-sm truncate max-w-full">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic necessitatibus ipsa
            dolorum ab suscipit reiciendis adipisci doloribus nesciunt eum ea? Delectus, nesciunt.
            Sapiente recusandae incidunt voluptatum dolore amet possimus odit.
          </p>
        </div>
        <div class="ml-4 cursor-pointer">delete</div>
      </div>
    </div>
  </div>
</div>